references/
outfiles/
BCPDocker/
CMakeDocker/
bin/
obj/
lib/
results/
datasets/OtherBenchmarks
datasets/altura
datasets/ex4

.git/
.gitignore
.travis.yml

*.md
INSTALL.sh

CMakeDefinitionsLists.txt
build/
cmake-build-**

docker-compose.yml
