references/
outfiles/
BCPDocker/
CMakeDocker/
bin/
obj/
lib/

.git/
.gitignore
.travis.yml

*.md
INSTALL.sh

CMakeDefinitionsLists.txt
build/
cmake-build-debug/
cmake-build-release/

docker-compose.yml
Dockerfile
