references/
outfiles/
BCPDocker/
CMakeDocker/
bin/
obj/

.git/
.gitignore
.travis.yml

README.md
INSTALL.md
INSTALL.sh
DOCKER.md

CMakeDefinitionsLists.txt
build/
cmake-build-debug/
cmake-build-release/

docker-compose.yml
Dockerfile
