datasets/ filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
datasets/nrp/ filter=lfs diff=lfs merge=lfs -text
datasets/INRC2 filter=lfs diff=lfs merge=lfs -text
datasets/new1 filter=lfs diff=lfs merge=lfs -text
datasets/new2 filter=lfs diff=lfs merge=lfs -text
datasets/INRC filter=lfs diff=lfs merge=lfs -text
datasets/OtherBenchmarks filter=lfs diff=lfs merge=lfs -text
references/2017_LegrainOmerRosat_DynamicNurseRostering.pdf filter=lfs diff=lfs merge=lfs -text
references/2017_LegrainOmerRosat_StaticNurseRostering.pdf filter=lfs diff=lfs merge=lfs -text
references/INRC2_description.pdf filter=lfs diff=lfs merge=lfs -text
references/INRC_description.pdf filter=lfs diff=lfs merge=lfs -text
references/2015_Ceschia_INRC2_ProblemSpecification.pdf filter=lfs diff=lfs merge=lfs -text
Simulator.jar filter=lfs diff=lfs merge=lfs -text
validator.jar filter=lfs diff=lfs merge=lfs -text
validatorINRC.jar filter=lfs diff=lfs merge=lfs -text
