# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake definitions
CMakeDefinitionsLists.txt

# source files whose changes must remain local
src/main.cpp
src/MyMain.cpp

# binaries and compilation files
bin/*
obj/*
build/*
cmake-build-debug/
cmake-build-release/

# ouput and log files
bashfiles/*
logfiles/*
outfiles/
*.log

#For eclipse
.cproject*
.project*
formatter*
.metadata/*
.settings/*

# for mac
.fuse*

# sublime project files
*.sublime-*

# clion files
.idea/
