# source files whose changes must remain local
src/main.cpp
src/MyMain.cpp

# binaries and compilation files
bin/*
obj/*
*.o

# ouput and log files
logfiles/*
outfiles/
!outfiles/Competition/
*.log

#For eclipse
.cproject*
.project*
formatter*
.metadata/*
.settings/*

# for mac
.fuse*

