# the main source file must be different for each developper
src/main.cpp

# binaries and compilation files
bin/*
obj/*
*.o

# ouput and log files
logfiles/*
outfiles/
*.log

#For eclipse
.cproject*
.project*
formatter*
.metadata/*
.settings/*

# for mac
.fuse*

# this file
.gitignore
